<%- include('partials/header')%>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="CampSite Name">
    <input type="text" name="image" placeholder="Picture">
    <button>Submit</button>
</form>

<a href="/">Go Back</a>

<%- include('partials/footer')%>